outputs/
configs/paths/paths.yaml
configs/dataset/task/closed_ended_figures.yaml
.vscode/
open_clip/
biomed-clip-share/
lightning_logs/
*/__pycache__/*
__pycache__/
slurm/output/
slurm/
wandb/
*.jpg
!Figure_1.jpg
*.png
*.csv
*.txt
!requirements.txt
!run/demos/demo_requirements.txt
evaluation/results/*
evaluation/test_bed/
run/test_bed.py
temp/
temp.py
test.py
evaluation/figures/
evaluation/dataset/
dataset/manual_annotations/
.hydra/
*.log
logs/
*.code-workspace
*.err
*.out
slurm/env.sh
*.ipynb
evaluation/junior_specialist.py
.nfs*
.hydra/
slurm/
saved_models/